[build]
  functions = "netlify/functions"
  publish = "."

[dev]
  framework = "#static"
  targetPort = 8888
  publish = "."
  autoLaunch = false

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
